.nav {
  display: none;
  list-style-type: none;
  background-color: #9e2022;
  position: absolute;
  right: 0;
  top: 100%;
  width: 10em;
  text-align: center;
  color: #fff;
}

.nav li:hover {
  background-color: #7e1e1f;
}

nav {
  right: 0;
  position: absolute;
  padding-right: 1.3em;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  width: 40px;
  display: inline-block;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

a {
  text-decoration: none;
  color: #fff;
}

.title {
  font-family: mencken-std, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #9e2022;
}

h1 {
  font-family: mencken-std, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #9e2022;
}

.wreath {
  font-family: wreath, serif;
  font-style: normal;
}

.subtitle {
  font-family: wreath, serif;
  font-style: normal;
  color: #9e2022;
  margin-bottom: -1%;
}

.title a:visited {
  color: #9e2022;
}

.nav a:visited {
  color: #fff;
}

.card a {
  color: #fff;
}

.btn {
  background-color: #9e2022;
  border-color: #9e2022;
}

.btn:hover {
  background-color: #7e1e1f;
  border-color: #7e1e1f;
}

.banner {
  color: #fff;
}

html {
  border-left: 35px solid #9e2022;
  min-height: 100%;
  font-family: adobe-caslon-pro, serif;
  font-style: normal;
}

.card-content {
  color: #fff;
  background-color: #9e2022;
}

.card-content a:visited {
  color: #fff;
}

.card:hover .card-content {
  background-color: #7e1e1f;
}

.card:hover .arrow {
  transform: translateY(-10%);
}

footer {
  color: #9e2022;
}

.card:hover .img-flex {
  filter: brightness(80%);
}

.number {
  font-family: wreath, serif;
  font-style: normal;
  color: #9e2022;
  font-size: 115%;
  margin-left: -5%;
  margin-right: 2%;
}

.indent {
  text-indent: 19px;
}

.red {
  color: #9e2022;
}
